<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Screen Task</title>
        <link href="bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-8  offset-lg-2">
                    <!--<h3 class="mt-5">Live Streaming</h3>-->
                    <img onmousedown="return false" src="{{ url_for('video_feed') }}" width="90%">
                </div>
            </div>
        </div>
    </body>
</html>